---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body {
	background: $white;
  font-family: $openSans;

}

.container {
  margin: 0 auto 20px auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 15px 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

// Custom override - image captions
h6 {
  font-size: 14px;
  text-align: center;
  color: $gray;
}
h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  line-height: 1.6;
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

li {
  line-height: 1.8
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.masthead {
  padding: 5px 0;

  @include mobile {
    text-align: center;
  }
}

.site-info {
  float: left;
  h2:hover {
    color: $blue!important;
  }

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

nav {
  float: right;
  margin-top: 28px; // @TODO: Vertically middle align
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.logo {
  color: $blue;
}

.posts > .post {
  margin: 20px auto;
  max-width: 800px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  text-align: left;
}


.post {
  .title h1 {
    margin-bottom: 5px;
  }

  .tags {
    margin: 10px auto;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }

  img {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
  }
}

footer {
  text-align: center;
  margin: 20px auto;
}
